html, body {
  height: 100%;
  width: 100%;
  color: #ff000044;
}

body {
  color: black ;
  background: #822083 ;
}

/*  
that's not light blue

what means color: red

yeaaaa i want make good ccolor
*/



